.icon {
  width: 70px;
  height: 70px;

  &__wrapper {
    @apply rounded-sm;

    padding: 4px 0;

    &--active {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}

.name {
  @apply font-bold text-center mt-1 px-1;

  font-size: 0.8125rem;
}
